@import './utils/_all';
@import './base/_base64icons';
@import '~vuetify/src/styles/styles.sass';

// General
$body-font-family: $font-family-base !default;
$font-size-root: $font-size-base !default;
$line-height-root: $line-height-base !default;
$border-radius-root: $border-radius;

//Card
$card-title-font-size: 18px !default;
$card-title-font-weight: 500 !default;
$card-actions-padding: $base-indent !default;
$card-btn-padding: 0 20px !default;
$card-btn-margin-x: $base-indent !default;

//Dialog
//Dialog Card
$dialog-card-title-font-size: 22px !default;
$dialog-card-title-font-weight: $card-title-font-weight !default;
$dialog-card-title-letter-spacing: 0 !default;
$dialog-card-title-padding: $base-indent $gutter !default;
$dialog-card-text-padding: $gutter !default;

//Text Field
$text-field-outlined-dense-label-position-y: -9px !default;
$text-field-outlined-label-position-y: -9px !default;
$text-field-outlined-dense-label-position-x: 18px !default;
$text-field-outlined-fieldset-top: 0 !default;
$text-field-outlined-fieldset-border: 1px solid currentColor !default;
$text-field-filled-full-width-outlined-slot-min-height: 44px !default;
$text-field-dense-icon-append-prepend-margin-top: 0 !default;

$text-field-outlined-prepend-append-margin-top: auto !default;
$text-field-dense-prepend-append-margin-top: auto !default;
$text-field-append-prepend-margin: 0 !default;

$text-field-details-margin-bottom: 4px;

//Input
$input-slot-margin-bottom: 4px;

//Select
$select-outlined-dense-selections-padding-top: 16px 0 0 !default;
$select-chips-dense-selections-min-height: 56px !default;
$select-dense-chip-margin: 4px !default;

//TextArea
$textarea-dense-box-enclosed-single-outlined-margin-top: 25px !default;
$textarea-box-enclosed-single-outlined-margin-top: 21px !default;

//Rating
$rating-padding: 0;

//VListItem
$list-item-action-icon-margin: $base-indent;

//Switch
$switch-track-opacity: 1 !default;
$switch-thumb-elevation: 0 !default;
$switch-track-border-radius: 20px !default;
$switch-width: 42px !default;
$switch-track-width: $switch-width !default;
$switch-track-height: 29px !default;
$switch-thumb-width: 25px !default;
$switch-thumb-height: $switch-thumb-width !default;
//$switch-dirty-offset-x: 17px !default;
$switch-track-x: 0 !default;
$switch-thumb-top: -1px !default;
$switch-track-top: calc(50% - 15px) !default;
$switch-dirty-offset-x: 13px !default;

//Radio
$radio-group-padding: $base-indent !default;

//Tabs
$tab-font-size: 13px !default;
$tab-font-weight: 600 !default;
$tab-line-height: 16px !default;
$tabs-item-letter-spacing: 0 !default;
$tabs-item-min-width: auto !default;
$tabs-item-padding: 0 !default;

//Table
$data-table-regular-header-font-size: 15px !default;

//Skeleton
$skeleton-loader-text-border-radius: $border-radius;

//Icon
$icon-size: 22px !default;

//Buttons
$btn-font-weight: 400;
$btn-letter-spacing: 0;
$btn-text-transform: initial;

$btn-font-sizes: (
    'x-small': 13px,
    'small': 14px,
    'default': 15px,
    'large': 16px,
    'x-large': 17px,
);

$btn-sizes: (
    'x-small': 20,
    'small': 28,
    'default': 36,
    'large': 44,
    'x-large': 56,
);

//Breakpoints
$grid-breakpoints: (
    'xs': 0,
    'sm': map-get($breakpoints, 'sm'),
    'md': map-get($breakpoints, 'md'),
    'lg': map-get($breakpoints, 'lg'),
    'xl': 1367px,
);

$shadow-key-umbra-opacity: rgba($color-secondary, 0.2) !default;
$shadow-key-penumbra-opacity: rgba($color-secondary, 0.14) !default;
$shadow-key-ambient-opacity: rgba($color-secondary, 0.12) !default;

$shadow-key-umbra: (
    0: (
        0px 0px 0px 0px $shadow-key-umbra-opacity,
    ),
    1: (
        0px 2px 1px -1px $shadow-key-umbra-opacity,
    ),
    2: (
        0px 3px 1px -2px $shadow-key-umbra-opacity,
    ),
    3: (
        0px 3px 3px -2px $shadow-key-umbra-opacity,
    ),
    4: (
        0px 2px 4px -1px $shadow-key-umbra-opacity,
    ),
    5: (
        0px 3px 5px -1px $shadow-key-umbra-opacity,
    ),
    6: (
        0px 3px 5px -1px $shadow-key-umbra-opacity,
    ),
    7: (
        0px 4px 5px -2px $shadow-key-umbra-opacity,
    ),
    8: (
        0px 5px 5px -3px $shadow-key-umbra-opacity,
    ),
    9: (
        0px 5px 6px -3px $shadow-key-umbra-opacity,
    ),
    10: (
        0px 6px 6px -3px $shadow-key-umbra-opacity,
    ),
    11: (
        0px 6px 7px -4px $shadow-key-umbra-opacity,
    ),
    12: (
        0px 7px 8px -4px $shadow-key-umbra-opacity,
    ),
    13: (
        0px 7px 8px -4px $shadow-key-umbra-opacity,
    ),
    14: (
        0px 7px 9px -4px $shadow-key-umbra-opacity,
    ),
    15: (
        0px 8px 9px -5px $shadow-key-umbra-opacity,
    ),
    16: (
        0px 8px 10px -5px $shadow-key-umbra-opacity,
    ),
    17: (
        0px 8px 11px -5px $shadow-key-umbra-opacity,
    ),
    18: (
        0px 9px 11px -5px $shadow-key-umbra-opacity,
    ),
    19: (
        0px 9px 12px -6px $shadow-key-umbra-opacity,
    ),
    20: (
        0px 10px 13px -6px $shadow-key-umbra-opacity,
    ),
    21: (
        0px 10px 13px -6px $shadow-key-umbra-opacity,
    ),
    22: (
        0px 10px 14px -6px $shadow-key-umbra-opacity,
    ),
    23: (
        0px 11px 14px -7px $shadow-key-umbra-opacity,
    ),
    24: (
        0px 11px 15px -7px $shadow-key-umbra-opacity,
    ),
);
$shadow-key-penumbra: (
    0: (
        0px 0px 0px 0px $shadow-key-penumbra-opacity,
    ),
    1: (
        0px 1px 1px 0px $shadow-key-penumbra-opacity,
    ),
    2: (
        0px 2px 2px 0px $shadow-key-penumbra-opacity,
    ),
    3: (
        0px 3px 4px 0px $shadow-key-penumbra-opacity,
    ),
    4: (
        0px 4px 5px 0px $shadow-key-penumbra-opacity,
    ),
    5: (
        0px 5px 8px 0px $shadow-key-penumbra-opacity,
    ),
    6: (
        0px 6px 10px 0px $shadow-key-penumbra-opacity,
    ),
    7: (
        0px 7px 10px 1px $shadow-key-penumbra-opacity,
    ),
    8: (
        0px 8px 10px 1px $shadow-key-penumbra-opacity,
    ),
    9: (
        0px 9px 12px 1px $shadow-key-penumbra-opacity,
    ),
    10: (
        0px 10px 14px 1px $shadow-key-penumbra-opacity,
    ),
    11: (
        0px 11px 15px 1px $shadow-key-penumbra-opacity,
    ),
    12: (
        0px 12px 17px 2px $shadow-key-penumbra-opacity,
    ),
    13: (
        0px 13px 19px 2px $shadow-key-penumbra-opacity,
    ),
    14: (
        0px 14px 21px 2px $shadow-key-penumbra-opacity,
    ),
    15: (
        0px 15px 22px 2px $shadow-key-penumbra-opacity,
    ),
    16: (
        0px 16px 24px 2px $shadow-key-penumbra-opacity,
    ),
    17: (
        0px 17px 26px 2px $shadow-key-penumbra-opacity,
    ),
    18: (
        0px 18px 28px 2px $shadow-key-penumbra-opacity,
    ),
    19: (
        0px 19px 29px 2px $shadow-key-penumbra-opacity,
    ),
    20: (
        0px 20px 31px 3px $shadow-key-penumbra-opacity,
    ),
    21: (
        0px 21px 33px 3px $shadow-key-penumbra-opacity,
    ),
    22: (
        0px 22px 35px 3px $shadow-key-penumbra-opacity,
    ),
    23: (
        0px 23px 36px 3px $shadow-key-penumbra-opacity,
    ),
    24: (
        0px 24px 38px 3px $shadow-key-penumbra-opacity,
    ),
);
$shadow-key-ambient: (
    0: (
        0px 0px 0px 0px $shadow-key-ambient-opacity,
    ),
    1: (
        0px 1px 3px 0px $shadow-key-ambient-opacity,
    ),
    2: (
        0px 1px 5px 0px $shadow-key-ambient-opacity,
    ),
    3: (
        0px 1px 8px 0px $shadow-key-ambient-opacity,
    ),
    4: (
        0px 1px 10px 0px $shadow-key-ambient-opacity,
    ),
    5: (
        0px 1px 14px 0px $shadow-key-ambient-opacity,
    ),
    6: (
        0px 1px 18px 0px $shadow-key-ambient-opacity,
    ),
    7: (
        0px 2px 16px 1px $shadow-key-ambient-opacity,
    ),
    8: (
        0px 3px 14px 2px $shadow-key-ambient-opacity,
    ),
    9: (
        0px 3px 16px 2px $shadow-key-ambient-opacity,
    ),
    10: (
        0px 4px 18px 3px $shadow-key-ambient-opacity,
    ),
    11: (
        0px 4px 20px 3px $shadow-key-ambient-opacity,
    ),
    12: (
        0px 5px 22px 4px $shadow-key-ambient-opacity,
    ),
    13: (
        0px 5px 24px 4px $shadow-key-ambient-opacity,
    ),
    14: (
        0px 5px 26px 4px $shadow-key-ambient-opacity,
    ),
    15: (
        0px 6px 28px 5px $shadow-key-ambient-opacity,
    ),
    16: (
        0px 6px 30px 5px $shadow-key-ambient-opacity,
    ),
    17: (
        0px 6px 32px 5px $shadow-key-ambient-opacity,
    ),
    18: (
        0px 7px 34px 6px $shadow-key-ambient-opacity,
    ),
    19: (
        0px 7px 36px 6px $shadow-key-ambient-opacity,
    ),
    20: (
        0px 8px 38px 7px $shadow-key-ambient-opacity,
    ),
    21: (
        0px 8px 40px 7px $shadow-key-ambient-opacity,
    ),
    22: (
        0px 8px 42px 7px $shadow-key-ambient-opacity,
    ),
    23: (
        0px 9px 44px 8px $shadow-key-ambient-opacity,
    ),
    24: (
        0px 9px 46px 8px $shadow-key-ambient-opacity,
    ),
);

//Theme Light
$material-light: (
    'tabs': rgba(16, 25, 40, 0.55),
    'input-bottom-line': $color-border--lighten,
    'dividers': $color-border--lighten,
    'chips': $gray--lightest,
    'text': (
        'theme': map-get($shades, 'white'),
        'primary': $color-text,
        'secondary': $color-text--light,
        'disabled': $color-disabled-text,
        'link': $color-info,
        'link-hover': rgba($color-info, 0.7),
    ),
    'inputs': (
        'solo-inverted-focused-label': $color-text--light,
    ),
    'text-fields': (
        'outlined': $gray--lighten,
        'outlined-disabled': $gray--lightest,
        'outlined-hover': $color-secondary,
    ),
    'selection-controls': (
        'disabled': $gray--lightest,
        'thumb': (
            'inactive': #fff,
            'disabled': #fff,
        ),
        'track': (
            'inactive': $gray--lighten,
            'disabled': $gray--lightest,
        ),
    ),
    'icons': (
        'active': $color-text--light,
        'inactive': rgba(16, 25, 40, 0.55),
    ),
    'buttons': (
        'disabled': $gray--light,
        'focused': $gray--lighten,
    ),
    'table': (
        'active': map-get($grey, 'lighten-4'),
        'hover': $color-bg--hover,
        'group': map-get($grey, 'lighten-3'),
    ),
);
