.widget-profile {
    display: flex;
    flex-direction: column;
    padding: $gutter;
    background-color: #fff;

    &:not(.widget-profile--column) {
        .c-avatar {
            &__letter {
                font-size: 28px;
                font-weight: 400;
            }
        }
    }

    &__content {
        display: flex;
        align-items: center;

        & + .widget-profile__inner {
            margin-top: $base-indent / 2;
        }
    }

    &__avatar {
        margin-right: $base-indent;
    }

    &__name {
        padding-top: 0;
        color: $color-text;
        font-size: 16px;
        font-weight: 500;
        line-height: 22px;

        &:not(:last-child) {
            padding-bottom: 0;
        }

        & + .widget-profile__subcontent {
            margin-top: $base-indent;
        }
    } //.widget-profile__name

    &__phone,
    &__position {
        color: $color-text--light !important;
        font-size: 14px;
        line-height: 20px;
        text-decoration: none;
    }

    &__surname {
    } //.widget-profile__surname

    &__btns {
        display: flex;
        align-items: center;
        justify-content: center;
        @include btnHalfSize;

        button,
        a {
            padding: 0 $base-indent / 2 !important;
        }
    } //.widget-profile__btns

    &__subcontent {
        padding: $gutter;
        border-top: 1px solid $color-border-very-light;

        @include max(sm) {
            margin-top: $gutter - 4;
            padding: $gutter - 4 0;
            @include border(top);
            @include border(bottom);
        }

        & > div {
            display: flex;
            flex-direction: column;

            span {
                color: $color-text--light;
                font-size: 14px;
            }

            a,
            p {
                margin-bottom: 0 !important;
                color: $color-text;
                font-size: 16px;
                text-decoration: none;
            }

            & + div {
                margin-top: 10px;
            }
        }
    } //.widget-profile__subcontent

    &--column {
        flex-direction: column;
        padding: 0;

        .widget-profile {
            &__content {
                flex-direction: column;
                align-items: stretch;
            } //.widget-profile--column .widget-profile__content

            &__avatar {
                display: flex;
                justify-content: center;
                margin: 0;
                padding: $gutter 0 0;
            } //.widget-profile--column .widget-profile__avatar

            &__text,
            &__inner {
                padding-top: $base-indent;
            } //.widget-profile--column .widget-profile__text, .widget-profile--column .widget-profile__inner

            &__name {
                font-size: 22px;
                font-weight: 500;
                text-align: center;
            } //.widget-profile--column .widget-profile__name

            &__inner {
                display: flex;
                justify-content: center;
                margin: 0;

                &:last-child {
                    padding-bottom: $base-indent;
                }
            } //.widget-profile--column .widget-profile__inner

            &__btns {
                padding: $gutter;

                @include max(sm) {
                    padding: 24px 0;

                    /*padding-right: 0;*/

                    /*padding-bottom: 0;*/

                    /*padding-left: 0;*/
                }

                &:empty {
                    padding: 0;
                }
            }
        }
    } //.widget-profile--column

    &--shadow {
        @include min(md) {
            border-radius: $border-radius;
            box-shadow: $box-shadow-base;
        }
    }
} //.widget-profile
