.c-slider {
    z-index: 0;

    .swiper-button-next,
    .swiper-button-prev {
        z-index: 0;
        width: 36px;
        height: 36px;
        border: 1px solid $color-border--lightest;
        border-radius: 50%;
        outline: none;
        background-color: #fff;
        box-shadow: $box-shadow-base;

        &::after {
            display: none;
        }

        &.swiper-button-disabled {
            display: none !important;
        }
    }

    .swiper-button-next {
        right: 5px;
    }

    .swiper-button-prev {
        left: 5px;
    }

    ::v-deep .swiper-wrapper {
        position: static;
    }
}
