$font-family-system-fonts: -apple-system, BlinkMacSystemFont, Roboto, Open Sans, Helvetica Neue,
    Noto Sans Armenian, Noto Sans Bengali, Noto Sans Cherokee, Noto Sans Devanagari,
    Noto Sans Ethiopic, Noto Sans Georgian, Noto Sans Hebrew, Noto Sans Kannada, Noto Sans Khmer,
    Noto Sans Lao, Noto Sans Osmanya, Noto Sans Tamil, Noto Sans Telugu, Noto Sans Thai, sans-serif !default;
$font-family-arial: Arial, Textbook New, sans-serif;
$font-family-roboto: Roboto, sans-serif !default;

$font-family-base: $font-family-roboto;
$font-weight-base: 400;
$line-height-base: 1.5;
$font-size-base: 16px;

$max-width: 1200px;
$spacer: 4px;

// Indent's
$gutter: $spacer * 6;
$base-indent: $spacer * 4;
$half-indent: $spacer * 3;

//Base Variables
$color-accent: #ff8272;
$color-primary: #101928;
$color-secondary: #67768c;
$color-muted: #eef2f7;

$color-success: #8cc152;
$color-info: #037aff;
$color-warning: #ffc107;
$color-error: #f74969;
$color-anchor: #037aff;

$color-link: $color-info;

$color-disabled: #67768c;
$color-disabled-text: #67768c;

// Gray color's
$gray--darkest: #242626;
$gray--darken: #353737;
$gray--dark: #464646;
$gray: #585a59;
$gray--light: #9b9b9b;
$gray--lighten: #dee3e7;
$gray--lightest: $color-muted;

// Text color's
// $color-text--darkest : $gray--darkest;
// $color-text--dark    : $gray--dark;
$color-text: $color-primary;
$color-text--light: $color-secondary;
$color-text--lighten: $gray--light;
//$color-text--lightest: $gray--lighten;

$text-colors: (
    primary: $color-text,
    light: $color-text--light,
    success: $color-success,
    error: $color-error,
) !default;

// Border color's
$color-border--darkest: $gray--darkest;
$color-border--darken: $gray--darken;
$color-border--dark: $gray;
$color-border: #a5a5a5;
$color-border--light: #c7c7c7;
$color-border--lighten: $gray--lighten;
$color-border--lightest: $gray--lightest;
$color-border-very-light: #eef0f2;

//$color-border--darken: $gray;
//$color-border--dark: $gray--light;
//$color-border: $gray--lighten;
//$color-border--light: $gray--lightest;
//$color-border--lighten: $color-muted;

$input-height: 56px;
$input-color-border: $color-border;
$input-color-border--hover: $color-border--dark;
$input-shadow--hover: 0 2px 4px 0 rgba(0, 0, 0, 0.05), 0 0 4px 0 rgba(0, 0, 0, 0.05);

$border-radius: 4px;

// Background color's
$color-bg--darken: #191919;
$color-bg--dark: #222;
$color-bg: #2f2f2f;
$color-bg--light: #eee;
$color-bg--lighten: $gray--lighten;
$color-bg--lightest: #f7f7f8;
$color-bg--hover: #fbfbfb;
$color-bg--instagram: linear-gradient(
    to bottom left,
    #962fbf 0%,
    #d62976 35%,
    #fa7e1e 70%,
    #ffdc3e 100%
);

// Shadow color's
$box-shadow-base: 0 2px 5px 0 rgba(164, 173, 186, 0.25);
$box-shadow-base--active: 0 0 4px 0 rgba(16, 25, 40, 0.08);
$box-shadow-base--hover: 0 5px 15px 5px rgba(164, 173, 186, 0.25);
$box-shadow-secondary: rgba($color-secondary, 0.2) 0 8px 16px;
$box-shadow-secondary--hover: rgba($color-secondary, 0.15) 0 8px 40px;
$box-shadow-sticky-block: 0 15px 15px -15px rgba(222, 227, 231, 0.9);

// Icon color's
$color-icon: $color-text;
$color-icon--light: $color-text--light;
$color-icon--lighten: #a4adba;

// Icon size's
$icons-sizes: () !default;
$icons-sizes: map-deep-merge(
    (
        'default': 20px,
        'xs': 18px,
        'sm': 28px,
        'md': 44px,
        'lg': 56px,
        'xl': 70px,
    ),
    $icons-sizes
);

$icon-size: map-get($icons-sizes, 'default');
$icon-size--xs: map-get($icons-sizes, 'xs');
$icon-size--sm: map-get($icons-sizes, 'sm');
$icon-size--md: map-get($icons-sizes, 'md');
$icon-size--lg: map-get($icons-sizes, 'lg');
$icon-size--xl: map-get($icons-sizes, 'xl');

// Transition
$trs: all 0.4s ease-in-out;

$breakpoints: (
    'i5': 320px,
    'i7': 375px,
    'i8': 414px,
    'xs': 480px,
    'sm': 768px,
    'md': 1024px,
    'mdX': 1280px,
    'lg': 1366px,
) !default;

$breakpoints-min: (
    'i5': 319px,
    'i7': 374px,
    'i8': 413px,
    'xs': 479px,
    'sm': 767px,
    'md': 1023px,
    'mdX': 1280px,
    'lg': 1365px,
) !default;

// Z-index
$z-index: (
    'hidden': -1,
    'default': 1,
    'absolute': 5,
    'fixed': 10,
    'overlay': 1000,
    'modal': 1010,
) !default;

// CSS Variables
:root {
    --max-width: 1200px;
    --gutter: 24px;
    --base-indent: 16px;
    --color-primary: #101928;
    --color-secondary: #67768c;
}

@media screen and (max-width: 480px) {
    :root {
        --gutter: 16px;
    }
}
