.title {
    margin-bottom: $base-indent / 3;
    color: $color-text;

    @include min(md) {
        font-size: 14px !important;
        font-weight: 400;
    }

    @include max(sm) {
        margin-bottom: $base-indent;
    }
}

.link-box {
    display: flex;
    align-items: flex-end;

    @include max(xs) {
        flex-direction: column;
    }

    & + & {
        margin-top: $gutter;

        @include max(xs) {
            margin-top: $base-indent * 2;
        }
    }

    &__inner {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        width: 100%;

        @include max(xs) {
            margin-bottom: $base-indent;
            padding-bottom: 18px;
            @include border(bottom);
        }
    }

    &__title {
        margin-bottom: 4px;
        font-size: 13px;
        font-weight: 400;
    }

    &__link {
        @include max(xs) {
            font-size: 17px;
        }
    }

    &__btns {
        flex-shrink: 0;
        margin-left: $base-indent;

        @include max(sm) {
            @include btnHalfSize;
        }

        @include max(xs) {
            width: 100%;
            margin-left: 0;
        }
    }
}

.block-link-info {
    &__wrap {
        margin: 0;
    }
}
