/* Facke input
<div class="text-input">
	<span class="text-input__title"></span>
	<span class="text-input__field"></span>
</div>
*/
.text-input {
    display: flex;
    flex-direction: column;
    text-decoration: none;

    & + & {
        margin-top: 15px;
    }

    &__title {
        color: $color-text--light;
        font-size: 14px;
    } //.text-input__title

    &__field {
        color: $color-text;
        font-size: 16px;
    } //.text-input__field

    a.text-input__field {
        color: $color-text;
        text-decoration: none;

        &:hover {
            color: $color-info;
            text-decoration: underline;
        }
    }
} //.text-input

.c-fake-input {
    position: relative;
    display: flex;
    flex-grow: 1;
    align-items: center;
    max-width: 100%;
    @include border(bottom);

    /*@include max(sm) {
        padding-top: $gutter / 2;
    }*/

    &:active {
        margin-bottom: -1px;
        border-bottom-width: 2px;
        border-color: $color-info;

        .c-fake-input {
            &__label {
                color: $color-info;
            }
        }
    }

    & + & {
        margin-top: $gutter;
    }

    &__inner {
        display: flex;
        flex-grow: 1;
        align-items: center;
        justify-content: space-between;
        min-height: $input-height-mobile;
        padding: 0 0 12px;
        outline: none;

        &:hover,
        &:focus,
        &:active {
            outline: none;
        }
    } //.c-fake-input__inner

    &__title {
        max-width: 72%;
        color: currentColor;
        font-size: 17px;
        line-height: 25px;
        @include text-overflow;
    } //.c-fake-input__title

    &__subtitle {
        height: 20px;
        font-size: 14px;
        font-weight: 300;
        line-height: 20px;
    } //.c-fake-input__subtitle

    &__label {
        min-height: 8px;
        transform: translateY(0);
        transform-origin: top left;
        transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
        //margin-bottom: 2px;
        //font-size: 12px;

        font-size: 17px;
    } //.c-fake-input__label

    &__icon {
        width: 15px;
        height: 15px;
        margin-right: 4px;
        fill: currentColor;
        color: currentColor;

        &.icon {
            margin-right: 6px;
            fill: currentColor;
            color: currentColor;
        }
    } //.c-fake-input__icon

    &__errors {
        position: absolute;
        bottom: -20px;
        left: 0;
        min-height: 14px;
        color: $color-error;
        font-size: 12px;
        line-height: 1;
        text-align: left;

        ::v-deep .v-icon {
            color: $color-error;
        }
    } //.c-fake-input__errors

    &.is-active {
        .c-fake-input {
            &__label {
                transform: translateY(-2px) scale(0.75);
            }
        }
    } //.c-fake-input.is-active

    &.is-disabled {
    }

    &.has-errors {
        border-color: $color-error;
        color: $color-error;
    } //.c-fake-input.has-errors
} //.c-fake-input
