.select-color {
    .icon {
        width: 32px;
        height: 32px;
        fill: #fff;
    }

    .select-color__selected {
        &::before {
            display: none;
        }

        .icon {
            display: block;
        }
    }
    :not(.select-color__selected) {
        .icon {
            display: none;
        }
    }

    .v-slide-group {
        &__content {
            padding: 0;
        }
    }

    .v-chip-group .v-chip {
        margin: 0 10px 0 0 !important;
    }
}
