.v-application--is-ltr .v-alert__dismissible {
    margin-top: -10px;
}

.v-alert {
    box-shadow: 0 4px 12px var(--shadow, #2b72bd33) !important;

    &__dismissible {
        align-self: flex-start;
        margin: 0;

        &::before,
        &::after {
            display: none;
        }
    }

    &__icon {
        color: var(--icon-color, #2b72bd) !important;
    }

    .title {
        margin-bottom: 0;
        font-size: 18px !important;
        font-weight: 500;
        line-height: 24px;
    }

    .description,
    p,
    div {
        margin-bottom: 0;
        font-size: 14px;
        line-height: 22px;

        & + p,
        & + div,
        & + .description {
            margin-top: $base-indent;
        }

        button,
        a {
            margin-top: -1px;
            font-size: inherit !important;
            font-weight: inherit !important;
        }
    }
}
