.icon {
    display: inline-flex;
    width: $icon-size;
    height: $icon-size;
    // fill: var(--fill, $color-icon);

    @each $size, $value in $icons-sizes {
        &--#{$size} {
            width: $value;
            height: $value;
        }
    }
} //.icon
