.empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 30px 0;
    text-align: center;

    @include max(xs) {
        margin: auto;
        padding: 30px 10px;
    }

    &__icon {
        width: $icon-size--lg;
        height: $icon-size--lg;
        margin-bottom: 20px;
        fill: $color-icon--light;
        color: $color-icon--light;

        &.icon {
            width: $icon-size--lg;
            height: $icon-size--lg;
            fill: $color-icon--light;
        }

        &--medium {
            width: $icon-size--md;
            height: $icon-size--md;

            &.icon {
                width: $icon-size--md;
                height: $icon-size--md;
            }
        } //.empty__icon--medium

        &--small {
            width: $icon-size--sm;
            height: $icon-size--sm;

            &.icon {
                width: $icon-size--sm;
                height: $icon-size--sm;
            }
        } //.empty__icon--small
    } //.empty__icon

    &__title {
        display: block;
        margin-bottom: 10px;
        color: $color-text;
        font-size: 21px;
        font-weight: 300;
        text-align: center;

        @include max(xs) {
            font-size: 21px;
        }
    } //.empty__title

    &__text {
        display: block;
        max-width: 35ch;
        margin-right: auto;
        margin-bottom: 0 !important;
        margin-left: auto;
        color: $color-text--light;

        font-size: 14px;

        @include max(xs) {
            font-size: 16px;
            line-height: 1.5;

            .v-btn {
                font-size: 16px !important;
                line-height: inherit !important;
            }
        }

        & + .empty__text {
            margin-top: 15px;
        }

        &--medium {
            max-width: 61ch;
        } //.empty__text--medium

        &--full {
            max-width: 100%;
        } //.empty__text--full
    } //.empty__text

    &__btn,
    button,
    a {
        margin-top: 30px;
    } //.empty__btn

    &--centre {
        flex: 1;
        margin: auto;
    } //.empty--centre

    &--big {
        .empty {
            &__icon {
                margin-bottom: 21px;
            }
            &__title {
                margin-bottom: $base-indent;
                font-size: 24px;
                font-weight: 500;
            }
            &__text {
                font-size: 16px;
            }
            &__btn {
                min-width: 300px !important;
            }
        }
    }
} //.empty
