::v-deep .v-navigation-drawer {
    &__prepend,
    &__append,
    &__content {
        display: flex;
        padding: 0;
    }

    &__prepend {
        flex-wrap: wrap;
    }

    &__append {
        border-top: 0;
        @include footerBtnLayout;
    }

    &__content {
        flex-direction: column;
        padding: $base-indent;

        & > * {
            flex-grow: 0;
        }
    }
}
