.c-bottom-sheet {
    margin: 0 $base-indent $base-indent !important;
    overflow: hidden !important;
    border-radius: $border-radius !important;
    box-shadow: none !important;
    @include user-select-none;

    &__inner {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
    } //.c-bottom-sheet__inner

    &__scroll-container {
        position: relative;
        padding: $base-indent $base-indent 0 $base-indent;
        overflow-x: hidden;
        overflow-y: auto;
    } //.c-bottom-sheet__scroll-container

    &__header {
        flex-shrink: 0;
        margin-top: $base-indent / 2;
        margin-bottom: $base-indent;
        //padding: $base-indent / 2 0;
    } //.c-bottom-sheet_header

    &__title {
        font-size: 28px;
        font-weight: 700;
        line-height: 35px;
    } //.c-bottom-sheet__title

    &__subtitle {
        margin-top: 5px;
        margin-bottom: 0 !important;
        color: $color-text--light;
        font-size: 14px;

        @include max(sm) {
            font-size: 15px;
            line-height: 1.3;
        }
    } //.c-bottom-sheet__subtitle

    &__search {
        position: sticky;
        top: -16px;
        z-index: z(default);
        display: flex;
        flex-shrink: 0;
        align-items: center;
        margin-right: -$base-indent;
        margin-left: -$base-indent;
        padding: $base-indent;
        background-color: #fff;

        &:empty {
            padding: 0;
        }

        & > button,
        & > a {
            margin-left: $base-indent;
        }

        &.is-fixed {
            border-radius: 15px 15px 0 0;
            box-shadow: $box-shadow-sticky-block;
        }
    } //.c-bottom-sheet__search

    &__btn-close {
        margin-top: 10px;
        border-radius: $border-radius;

        @include max(sm) {
            border-radius: 10px;
        }
    } //.c-bottom-sheet__btn-close

    &__item,
    .v-list-item {
        position: relative;
        justify-content: center;
        background-color: #fff;
        text-align: center;

        @include max(sm) {
            min-height: 58px !important;
            font-size: 18px;
            font-weight: 500;
        }

        &::before {
            display: none;
        }

        &:hover {
            background-color: $color-bg--hover;
        }

        &:last-child {
        }

        & + .c-bottom-sheet__item,
        & + .v-list-item {
            @include border(top);
        }
    } //.c-bottom-sheet__item

    &__icon {
        left: -29px;
        @include centre('y');

        &--small,
        &.icon-trash-2 {
            left: -27px;
            width: 15px;
            height: 15px;
        }

        &.icon-close--bold {
            width: 12px;
            height: 12px;
            margin-left: 3px;
        }
    } //.c-bottom-sheet__icon

    &__footer {
        padding: 5px;

        button,
        a {
        }
    } //.c-bottom-sheet__footer

    & > div {
        border-radius: 0 !important;
        background: transparent !important;
    } //.c-bottom-sheet > div

    .v-list {
        padding: 0;
        overflow: hidden;
        border-radius: 10px !important;
        background: transparent !important;
    } //.c-bottom-sheet .v-list

    &--palette {
        max-height: 92% !important;
        margin: 0 !important;
        padding: 0 !important;
        border-radius: $border-radius * 2 $border-radius * 2 0 0 !important;
        background-color: #fff;

        .c-bottom-sheet {
            &__search {
                border-top-left-radius: inherit;
                border-top-right-radius: inherit;
            }
            &__footer {
                padding: $base-indent;
                @include border(top);
            }
        }

        .c-btn-close {
            position: absolute;
            top: 16px;
            right: 16px;
            width: 40px;
            height: 40px;
            margin: 0;
            border-radius: 0;
        } //.c-bottom-sheet--palette .c-btn-close

        .c-select-services {
            &__list {
                box-shadow: none !important;
            }
        }

        .c-select-services-item {
            &__title {
                padding: $gutter * 2 0 $gutter;
                color: $color-text;
                font-size: 22px;
                font-weight: 600;
                line-height: 25px;
            }

            &__list {
                li {
                    padding: 21px 0;
                }
            }
        }

        .service-item-small {
            &__text {
                display: -webkit-box;
                overflow: hidden;
                font-size: 18px;
                font-weight: 400;
                line-height: 20px;
                text-overflow: ellipsis;
                -webkit-line-clamp: 3;
            }
        }

        .list {
            width: 100%;
            padding: 0 !important;

            li + li {
                .widget-profile__text {
                    @include border(top);
                }
            }

            .widget-profile {
                padding: 0;

                &__text {
                    box-sizing: content-box;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    width: 100%;
                    min-height: 37px;
                    padding: $base-indent 0;
                }
            }
        }

        .c-loader {
            height: auto;
            margin: auto;
            padding-top: $base-indent;
        }
    } //.c-bottom-sheet--palette

    &--simple {
        .c-bottom-sheet {
            &__header {
                margin-top: 0;
            }
            &__title {
                padding-right: 30px;
                padding-left: 30px;
                font-size: 20px;
                font-weight: 600;
                line-height: 30px;
                text-align: center;
                @include text-overflow;
            }
        }
    } //.c-bottom-sheet--simple

    &--full-height {
        height: 100%;

        .c-bottom-sheet {
            &__scroll-container {
                flex-grow: 1;
            }
        }
    } //.c-bottom-sheet--full-height
} //.c-bottom-sheet
