.v-list-item {
    &::before,
    &::after {
        display: none;
    }

    &:not(:last-child) {
        .v-list-item__content {
            border-bottom: 1px solid $color-border-very-light;
        }
    }

    &__avatar {
        position: relative;
        align-self: flex-start !important;
        overflow: initial;

        .avatar-icon {
            position: absolute;
            right: -7px;
            bottom: -7px;
            display: flex;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background-color: #fff;
            box-shadow: $box-shadow-base;

            .icon {
                width: 15px;
                height: 15px;
                margin: auto;
                border-radius: 0;
            }
        }
    }
}
